<ion-header>
  <ion-navbar text-center>

    <ion-title>
      <ion-row text-center class="vertical-align-content" margin-left="10%">
   
        <img alt="logo" height="40" src="assets/img/hh.png">

        <div margin-left="5%">
          <h1 style="color:rgb(26, 0, 102)"> Halazona</h1>
        </div>
        
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center scroll="false" >
 <!--
 <button ion-button color="light" icon-only [disabled]="!controller" clear (click)="stopTrack()" style="margin-left:20em;" >
            <ion-icon name="close"></ion-icon>
          </button> 
-->

  <ion-footer>

    <ion-grid>
      
      <ion-row>

        <ion-col width="33">
          
          <button ion-button (click)="seeking('back')" color="light" clear icon-only>
            <ion-icon name="skip-backward"></ion-icon>
          </button>
        </ion-col>

        <ion-col width="33">
          
            <button ion-button *ngIf="!playing" (click)="controlling('play')" color="light" clear icon-only>
              <ion-icon name="headset"></ion-icon>
            </button>
            <button ion-button *ngIf="playing" (click)="controlling('pause')"  color="light" clear icon-only>
              <ion-icon name="hand"></ion-icon>
            </button>
          </ion-col>

          <ion-col width="33">
            <button ion-button (click)="seeking('forward')" color="light" clear icon-only>
              <ion-icon name="skip-forward"></ion-icon>
            </button>
           
          </ion-col>

      </ion-row>

    </ion-grid>

  </ion-footer>

</ion-content>